@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme inline {
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  /* --hue-center is set by hooks/config on config change. lch gives more consistent perceived brightness but it changes the hue */
  --color-accent: light-dark(hsl(var(--hue-center) 100 35), hsl(var(--hue-center) 100 45));
  --color-utility: light-dark(var(--color-gray-700), var(--color-gray-300));

  --color-border: hsl(from var(--color-utility) h s l / 30%);
  --color-button: hsl(from var(--color-utility) h s l / 5%);
  --color-button-hover: hsl(from var(--color-utility) h s l / 15%);
  --color-button-active: hsl(from var(--color-utility) h s l / 25%);
}

@utility pixel {
  image-rendering: pixelated;
}

@utility slider-thumb {
  @apply appearance-none box-border size-5 rounded-full border-2 border-border bg-white group-hover:scale-110 transition-[scale] cursor-pointer;
}

@utility slider-track {
  @apply appearance-none box-border h-4 rounded-full border-2 border-border bg-accent cursor-pointer m-0;
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-200 accent-accent;
  }

  div#root {
    @apply h-dvh w-dvw;
  }

  kbd {
    @apply font-mono bg-button px-2 rounded-md border border-border;
  }

  a {
    @apply transition-[scale] hover:scale-102;
  }

  hr {
    @apply text-border m-2;
  }

  input[type="range"] {
    /* don't override on browsers other than firefox and chromium. using selectors for multiple browser prefixes in the same rule does not work */
    appearance: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    @apply w-45;
    &::-moz-range-thumb {
      @apply slider-thumb;
    }
    &::-moz-range-track {
      @apply slider-track;
    }
    &::-webkit-slider-thumb {
      @apply slider-thumb -translate-y-1;
    }
    &::-webkit-slider-runnable-track {
      @apply slider-track;
    }
  }

  .range {
    & > label {
      @apply w-36;
    }
    & > span {
      @apply w-12;
    }
  }
}
