@import "tailwindcss";

:root {
  color-scheme: light dark;
}

/* used by `slider-track`, set by component */
@property --percent-from {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

/* used by `slider-track`, set by component */
@property --percent-to {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

/* used by `--color-accent`, set by `hooks/config.ts` */
@property --hue-center {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --hue-range {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}

@keyframes rotate {
  100% {
    --angle: 1turn;
  }
}

@property --x0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --x1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --x2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --y0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --y1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --y2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes anchor-gradient-centers {
  0% {
    --x0: 0%;
    --x1: 50%;
    --x2: 100%;

    --y0: 0%;
    --y1: 100%;
    --y2: 0%;
  }
  33% {
    --x0: 100%;
    --x1: 0%;
    --x2: 50%;

    --y0: 0%;
    --y1: 0%;
    --y2: 100%;
  }
  67% {
    --x0: 50%;
    --x1: 100%;
    --x2: 0%;

    --y0: 100%;
    --y1: 0%;
    --y2: 0%;
  }
  100% {
    --x0: 0%;
    --x1: 50%;
    --x2: 100%;

    --y0: 0%;
    --y1: 100%;
    --y2: 0%;
  }
}

@theme inline {
  --color-foreground: light-dark(var(--color-gray-950), var(--color-gray-50));
  --color-background: light-dark(var(--color-gray-50), var(--color-gray-950));
  /* --hue-center is set by hooks/config on config change. lch gives more consistent perceived brightness but it changes the hue significantly */
  /* --color-accent: light-dark(hsl(var(--hue-center) 100 35), hsl(var(--hue-center) 100 45)); */
  --color-accent: light-dark(lch(45% 100% var(--hue-center)), lch(35% 100% var(--hue-center)));
  --color-utility: light-dark(var(--color-gray-300), var(--color-gray-700));
  --color-utility-rev: light-dark(var(--color-gray-700), var(--color-gray-300));

  --color-border: hsl(from var(--color-utility) h s l / 50%);
  --color-button: hsl(from var(--color-utility) h s l / 25%);
  --color-button-hover: hsl(from var(--color-utility) h s l / 50%);
  --color-button-active: hsl(from var(--color-utility) h s l / 75%);

  --color-danger: light-dark(var(--color-rose-400), var(--color-rose-600));
}

@utility pixel {
  image-rendering: pixelated;
}

@utility slider-thumb {
  @apply appearance-none box-border size-5 rounded-full border-2 border-utility group-hover:scale-110 transition-[scale] cursor-pointer;
  background:
    linear-gradient(to bottom, light-dark(#fffa, #fff3), transparent 50%, light-dark(#0002, #0007)) border-box,
    linear-gradient(var(--color-utility-rev));
}

@utility slider-track {
  @apply appearance-none box-border h-4 rounded-full border-2 border-border cursor-pointer m-0 shadow-sm;
  background:
    linear-gradient(to bottom, light-dark(#fffa, #fff3), transparent 50%, light-dark(#0002, #0007)) border-box,
    linear-gradient(
      in lch increasing hue to right,
      transparent var(--percent-from),
      var(--color-accent) var(--percent-from),
      var(--color-accent),
      var(--color-accent) var(--percent-to),
      /* lch(from var(--color-accent) l c calc(h - var(--hue-range))) var(--percent-from),
      var(--color-accent),
      lch(from var(--color-accent) l c calc(h + var(--hue-range))) var(--percent-to), */
      transparent var(--percent-to)
    )
    border-box no-repeat;
}

@utility dark {
  color-scheme: dark;
}

@utility light {
  color-scheme: light;
}

@utility button-bg {
  --bg: var(--color-button);
  background:
    linear-gradient(to bottom, light-dark(#fffa, #fff3), transparent 50%, light-dark(#0002, #0007)) border-box,
    linear-gradient(var(--bg)) border-box;
  &:hover {
    --bg: var(--color-button-hover);
  }
  &:active {
    --bg: var(--color-button-active);
  }
}

@utility button-bg-accent {
  --bg: lch(from var(--color-accent) l c h / 75%);
  background:
    linear-gradient(to bottom, light-dark(#fffa, #fff3), transparent 50%, light-dark(#0002, #0007)) border-box,
    linear-gradient(var(--bg)) border-box;
  &:hover {
    --bg: lch(from var(--color-accent) l c h / 85%);
  }
  &:active {
    --bg: var(--color-accent);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-200 accent-accent;
  }

  div#root {
    @apply h-dvh w-dvw;
  }

  kbd {
    @apply font-mono bg-button px-2 rounded-full border border-border;
  }

  a {
    @apply border-4 px-[2ch] py-[0.25lh] rounded-full border-transparent hover:scale-110;
    background:
      linear-gradient(to bottom, light-dark(#fffa, #fff3), transparent 50%, light-dark(#0002, #0007)) border-box,
      radial-gradient(var(--color-background) var(--percent-from), transparent var(--percent-to)) padding-box,
      radial-gradient(circle at var(--x0) var(--y0), lch(from var(--color-accent) l c calc(h + var(--hue-range))), transparent) border-box,
      radial-gradient(circle at var(--x1) var(--y1), lch(from var(--color-accent) l c calc(h - var(--hue-range))), transparent) border-box,
      radial-gradient(circle at var(--x2) var(--y2), lch(from var(--color-accent) l c h), transparent) border-box;
    /* conic-gradient(
        in oklch from var(--angle),
        lch(from var(--color-accent) l c calc(h - 60)),
        lch(from var(--color-accent) l c calc(h + 60)),
        lch(from var(--color-accent) l c calc(h - 60))
      )
      border-box; */
    transition:
      --percent-from 1s,
      --percent-to 1s,
      scale 300ms;
    --percent-from: 50%;
    --percent-to: 150%;
    /* animation: rotate 7s linear infinite; */
    animation: anchor-gradient-centers 4s linear infinite;
    &:hover {
      --percent-from: -50%;
      --percent-to: 50%;
    }
  }

  hr {
    @apply text-border m-2;
  }

  input[type="range"] {
    /* don't override on browsers other than firefox and chromium. using selectors for multiple browser prefixes in the same rule does not work */
    appearance: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    @apply w-45;
    &::-moz-range-thumb {
      @apply slider-thumb;
    }
    &::-moz-range-track {
      @apply slider-track;
    }
    &::-webkit-slider-thumb {
      @apply slider-thumb -translate-y-1;
    }
    &::-webkit-slider-runnable-track {
      @apply slider-track;
    }
  }

  .range {
    & > label {
      @apply w-36;
    }
    & > span {
      @apply w-12;
    }
  }
}
